.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
}

.bio {
  text-align: center;
  color: #ffffff;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: larger;
  font-weight: 400;
}

.buttonContainer {
  text-align: center;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  width: 25%;
  background-color: #734ae8;
  background-image: linear-gradient(315deg, #734ae8 0%, #89d4cf 74%);
  color: #121212;
  font-size: large;
}

.waveButton:hover {
  opacity: 0.4;
}

.walletButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  width: 25%;
  background-color: #f7b42c;
  background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
  color: #121212;
  font-size: large;
}

.walletButton:hover {
  opacity: 0.4;
}

.loaderIcon {
  color: #f5a623;
}
